<%- include("Partials/header"); -%>

<main>

  <section class="home" id="home">

    <div class="deco-shape deco-shape-1">
      <img src="/images/shape-1.png" alt="art shape" width="70">
    </div>
    <div class="deco-shape shape-2">
      <img src="/images/shape-2.png" alt="art shape" width="55">
    </div>
    <div class="deco-shape shape-3">
      <img src="/images/shape-3.png" alt="art shape" width="120">
    </div>
    <div class="deco-shape shape-4">
      <img src="/images/shape-4.png" alt="art shape" width="30">
    </div>

    <div class="home-left">
      <p class="section-subtitle">Welcome To AlgoMaster</p>

      <h1 class="main-heading">The one stop destination to help you understand the logic and intuition behind algorithms formulation</h1>

      <p class="section-text">The best way to learn something is by visualizing.<br>Join now to explore the world of computer science</p>

      <div class="home-btn-group">
        <a href="register">
          <button class="btn btn-primary">
            <p>Join Now</p>
            <span class="square"></span>
          </button>
        </a>

      </div>
    </div>

    <div class="home-right">

      <div class="img-box">
        <img src="/images/student.png" alt="banner image" class="banner-img">
        <img src="/images/banner-aliment-icon-1.png" alt="" class="icon-1 smooth-zigzag-anim-1" width="250">
        <img src="/images/banner-aliment-icon-2.png" alt="" class="icon-2 smooth-zigzag-anim-2" width="240">
        <img src="/images/banner-aliment-icon-3.png" alt="" class="icon-3 smooth-zigzag-anim-3" width="195">
        <img src="/images/banner-aliment-icon-4.png" alt="" class="icon-4 drop-anim">
      </div>
    </div>
  </section>

  <section class="course" id="course">
    <p class="section-subtitle">Courses</p>
    <h2 class="section-title">Find the right course best suited according to you need</h2>

    <div class="course-grid">
      <div class="course-card">

        <div class="course-banner">
          <img src="/images/DataStructure.JPG" alt="course banner">
        </div>
        <div class="course-content">
          <h3 class="card-title">
            <a href="#">Data Structures</a>
          </h3>
          <div class="wrapper">
            <div class="course-price">Upcoming</div>
            <div class="enrolled">
              <div class="icon-user">
                <img src="/images/student-icon.png" alt="user icon">
              </div>
              <p>Upcoming</p>
            </div>
          </div>
        </div>
      </div>

      <div class="course-card">

        <div class="course-banner">
          <img src="/images/Algorithms.JPG" alt="course banner">
        </div>
        <div class="course-content">
          <h3 class="card-title">
            <a href="#">Algorithms</a>
          </h3>
          <div class="wrapper">
            <div class="course-price">&#8377 600</div>
            <div class="enrolled">
              <div class="icon-user">
                <img src="/images/student-icon.png" alt="user icon">
              </div>
              <p>100k</p>
            </div>
          </div>
        </div>
      </div>

      <div class="course-card">

        <div class="course-banner">
          <img src="/images/IntroToProg.JPG" alt="course banner">
        </div>
        <div class="course-content">
          <h3 class="card-title">
            <a href="#">Introduction To Programming</a>
          </h3>
          <div class="wrapper">
            <div class="course-price">Upcoming</div>
            <div class="enrolled">
              <div class="icon-user">
                <img src="/images/student-icon.png" alt="user icon">
              </div>
              <p>Upcoming</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</main>

<%- include("Partials/footer"); -%>
